<h1>Result Page</h1>

<ul>
    <% data.results.forEach(function(movie){ %>
        <li> 
            <%= movie.name %> - <strong><%= movie.id %> </strong>
        </li>
    <% }) %>
</ul>

<a href="/">Search</a>